{
  "extends": [
    "rallycoding",
    "plugin:react-hooks/recommended",
    "plugin:react-native/all"
  ],
  "plugins": ["react", "react-native"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react/require-extension": "off",
    "arrow-body-style": "off",
    "react-native/no-inline-styles": "off",
    "react-native/sort-styles": "off"
  }
}
